* {
    margin: 0 0;
    /*border: 1px solid red;*/
    box-sizing: border-box;
}




.header-element {
    min-width: 12vw;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    z-index: inherit;
}



.input-file {
    position: relative;
    display: inline-block;

}

.SubSettingsList::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
}
.SubSettingsList::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);        /* цвет дорожки */
}
.SubSettingsList::-webkit-scrollbar-thumb {
    background-color: #fd8901;    /* цвет плашки */
    /* закругления плашки */


}

.grid::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
}
.grid::-webkit-scrollbar-track {
    background: #ffffff;        /* цвет дорожки */
}
.grid::-webkit-scrollbar-thumb {
    background-color: #fbab4d;    /* цвет плашки */
      /* закругления плашки */


}


label {
    display: grid;
    justify-items: center;
}

.SubSettingsList.colorList {
    overflow: auto;
    max-height: 100px;
    display: flex;
    justify-content: center;
}



.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;

    text-decoration: none;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 4px;
    background-color: #ff8a00;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */


/* Hover/active */
.input-file:hover span {
    background-color: #ffad4d;
}
.input-file:active span {
    background-color: #ff8a00;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: #eee;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background-color: #ffffff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;

}


.overFlowOpt {
    white-space: nowrap; /* Отменяем перенос текста */

    max-width: 30%;
}

header {
    background-color: #ff8a00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    height: 8vh;
    z-index: 10000;
}

img {
    height: 25px;
}


p {
    font-size: xx-small;
    padding-left: 5px;
}

.tools {
    background-color: #FFAD4D;
    padding: 10px;
    z-index: 2000;
    position: relative;
    max-height: 85vh;
    text-align: left;
}

.SubSettingsList {
    padding: 10px;
    background-color: #FFAD4D;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}





.isShowed {
    display: block;
}

.isHidden {
    display: none !important;
}

.chosenInfo {
    width: 20%;
    padding-top: 20px;
}

.waiterInfo {
    padding-top: 100px;
    height: 300px;
    width: 100%;
    text-align: center;
}

.chosenInfoElement {
    width: 90%;
    margin-top: 0;
    border: 2px solid #494949;
}

.mainContent {
    display: flex;
    flex-direction: row;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 8vh;
}

.waiter {
    min-height: 400px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    width: 100%;
    z-index: 1;
    background-color: white;
    overflow: auto;
    max-height: 92vh;
    align-content: start;
    padding: 20px 0 20px 0;
}

.element_grid {
    color: #000000;
    aspect-ratio: 1 / 1;
    text-align: center;
    border: 1px black solid;
    z-index: 2;background-color: white;
    transition: 2s;
}
button:hover {
    background-color: #b6b6b6;
}

.insider {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    min-height: 60px;
    z-index: 3;
}

.insiderMainContent {
    aspect-ratio: 1/1;
    width: 96%;
    height: 100%;
    text-align: left;
    z-index: 4;
    transition: 0.4s;
}

.bar {
    height: 100%;
    width: 1vw;
    background-color: red;
    z-index: 4;
}



@media only screen and (max-width: 800px) {
    .mainContent {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .chosenInfo {
        width: 100%;
        flex-direction: row;
    }
    .flexInfo {
        display: flex;

        flex-direction: row;
        width: 50%;
    }
    /*.element_grid {
        width: 10% !important;
    }*/
}

button {
    border: 2px black solid;
    padding: 5px;
    border-radius: 10px;
}

