* {
    margin: 0 0;
    /*border: 1px solid red;*/
}

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    background-color: #6b6b6b;
}

/*.wrapper {
    display: flex;
    flex-direction: column;
}*/

.chosenInfo {
    /*border: 1px solid black;*/
    width: 20%;
}

.grid {
    /*border: 1px solid black;*/
    width: 100%;
}

.chosenInfoElement {
    width: 90%;
    margin: auto auto;
    border: 2px solid #494949;

}

.mainContent {
    padding-top: 50px;
    /*border: 2px black solid;*/
    display: flex;

    min-height: 500px;
}



header {
    background-color: #ff9300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

}

.tools {
    background-color: #d57c00;
    /*border: 2px black solid;*/
    padding: 10px;
}

.isShowed {
    display: block !important;
}

.isHidden {
    display: none;
}
#resultOfImport {
    width: fit-content;
}

.waiter {
    min-height: 400px;
    text-align: center;

}

.SubSettingsList {
    padding: 10px;
    background-color: #9f5d00;
    max-height: 100px;
    overflow: auto;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.insider {
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    min-height: 60px;
    background-color: white;

}

img {

    height: 25px;

}

.insiderMainContent {
    aspect-ratio: 1/1;
    width: 96%;
    height: 100%;
    text-align: left;
}

.element_grid {

    color: #000000;

    aspect-ratio : 1 / 1;
    text-align: center;
    /*border: 1px black solid;*/


}
p {
    font-size: xx-small;
}



.grid {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap:5px;
    justify-content: center;
    align-content: center;
    background-color: inherit;
    min-height: 300px;

}.bar {
     height:100%;
     width: 1vw;
     background-color:red;
 }