* {
    margin: 0 0;
    /*border: 1px solid red;*/
}

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    background-color: #6b6b6b;
}

/*.wrapper {
    display: flex;
    flex-direction: column;
}*/

header {
    background-color: #ff9300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

img {
    height: 25px;
}

p {
    font-size: xx-small;
}

.tools {
    background-color: #d57c00;
    padding: 10px;
}

.SubSettingsList {
    padding: 10px;
    background-color: #9f5d00;
    max-height: 100px;
    overflow: auto;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#resultOfImport {
    width: fit-content;
}

.isShowed {
    display: block !important;
}

.isHidden {
    display: none;
}

.chosenInfo {
    width: 20%;
}

.grid {
    width: 100%;
}

.chosenInfoElement {
    width: 90%;
    margin: auto auto;
    border: 2px solid #494949;

}

.mainContent {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    min-height: 500px;
}

.waiter {
    min-height: 400px;
    text-align: center;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    justify-content: center;
    align-content: center;
    background-color: inherit;
    min-height: 300px;
}

.element_grid {
    color: #000000;
    aspect-ratio: 1 / 1;
    text-align: center;
}

.insider {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    min-height: 60px;
    background-color: white;
}

.insiderMainContent {
    aspect-ratio: 1/1;
    width: 96%;
    height: 100%;
    text-align: left;
}

.bar {
    height: 100%;
    width: 1vw;
    background-color: red;
}

@media only screen and (max-width: 800px) {
    .mainContent {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .chosenInfo {
        width: 70%;
    }

    /*.element_grid {
        width: 10% !important;
    }*/
}